# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
modern-ls

# Test binary
*.test

# Output of the go coverage tool
*.out

# macOS
.DS_Store

# Build artifacts
dist/
bin/
goreleaser
testicons/
completions/
manpages/
schema.json
example_dir/
